*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

lambda/sqs/Makefile
lambda/cloudwatch/Makefile
go-server/build-and-push.sh
Makefile
.script
